body{
    padding: 20px;
    background-color: lightcyan;
    font-family: 'Arial Narrow', Arial, sans-serif; 
}

h1{
    font-size: 25px;
    font-weight: 600;
}
h2{
    font-size: 20px;
    font-weight: 500;
}
button{
    display: inline-block;
    background-color: lightgreen;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    box-shadow: 0 9px #999
}
button:hover{
    background-color: green;
    color: white;
}
button:active{
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input{
    background-color: white;
    border: 2px solid darkolivegreen;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 8px 0;
    font-size: 15px;
}
table{
    border-collapse: collapse;
    padding: 5px;
    border:2px solid grey;
    width: 100%;
    table-layout: fixed;
}
tr{
    border: 1px solid grey;
}
td{
    border: 2px solid grey;
    font-size: 10px;
    width: 80px;
}
th{
    font-size: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid white;
    width: 60px;
}

